
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,300;0,400;1,400&family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@100;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border-style: 0;
}


body{
    background-color: #B3E5FC;
}
header{
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

h1{
color: #00897B;
}


#deleteAllNotes{
    color:#E64A19;
    border: none;
    padding: 0.8rem 2rem;
    font-weight: bold;
    margin: 1rem 1rem;
    cursor: pointer;
    border: 1px solid   blue   ;
}

 .notesList{ 
    display: grid;
    grid-template-columns: repeat(4 ,2fr);
    
} 
.notes{
    background-color: white;
    border: 1px solid darkcyan;
    border-radius: 12px;
    margin: 2rem;
    padding: 2rem;

}

.notes button{
    background: #00695c;
    color: white;
    font-weight: bold;
   padding: 0.5rem 0.2rem;
   cursor: pointer;
 border: none;
 margin: 0.8rem 0;
}

.createNotes{
    background: white;
    border:1px solid darkgray;
    padding: 2px;
    width: 40vw;
    margin: 4rem 2rem ;

}

 input,textarea{
    display: block;
    outline: none;
    border: none;
    border-bottom: 1px solid #00695c;
 }

 #createNoteButton{
    background: #E64A19;
    color: white;
    font-weight: bold;
   padding: 0.5rem 0.2rem;
   cursor: pointer;
 border: none;
 margin: 0.8rem 0;
 }
h1{
    color: #26A69A;
    margin-top: 2rem;
    margin-left: 3rem;
}























